.nav-collapse{ overflow:hidden; position:relative; height:0px;}
.nav-collapse.opend{}
.nav-collapse ul{ text-align:center; font-size:0;}
.nav-collapse ul li{ height:35px; background:#aaaaaa; line-height:35px; font-size:12px; border-bottom:1px #bbb solid;}
.nav-collapse ul li a{ display:block; color:#ffffff; -webkit-transition:all .15s linear; -moz-transition:all .15s linear; transition:all .15s linear;}
.nav-collapse ul li:hover a{ background:#999999;}
.nav-collapse ul li.on a{ background:#999999;}
.nav-collapse-button{background:#eeeeee; text-align:center; cursor:pointer; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-user-select:none; -moz-user-select:none; user-select:none;}
.nav-collapse-button button{display:inline-block; width:40px; height:35px;  text-align:center; outline:none;}
.nav-collapse-button i{ position:relative; display:inline-block; width:70%; height:50%; border-top:2px #555 solid; border-bottom:2px #555 solid;}
.nav-collapse-button i:before{ position:absolute; left:0; top:50%; margin-top:-1px; width:100%; height:2px; background-color:#555; content:"";}

@media (min-width:768px){
    .nav-collapse{ height:auto;}
    .nav-collapse ul li{ display:inline-block; width:20%; border-right:1px #fff solid;}
    .nav-collapse-button{ display:none;}
}